.LifeCycle{
  padding: 20px;
  h1{
    color: red;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  h2{
    background: gold;
    text-align: center;
  }
  h3{
    color: green;
    font-size: 16px;
    font-weight: bold;
  }
  img{
    display: block;
    width: 500px;
    height: 400px;
    // margin: auto;
  }

}